<!-- tag::allButValidation[] -->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Car Tuning Cloud</title>
    <link rel="stylesheet" th:href="@{/styles.css}" />
  </head>

  <body>
  
    <form method="POST" th:action="@{/logout}" id="logoutForm">	
      <input type="submit" value="Logout"/>	
    </form>

    <form method="POST" th:action="@{/orders}" th:object="${tuningOrder}">
      <h1>Order your tune creations!</h1>

      <img th:src="@{/images/CarTuningCloud.png}"/>

      <h3>Your tunes in this order:</h3>
      <a th:href="@{/design}" id="another">Design another tune</a><br/>
      <ul>
        <li th:each="tune : ${tuningOrder.tunes}">
          <span th:text="${tune.name}">Tune name</span> - 
          notes: <span th:text="${tune.notes}">Tune notes</span>
        </li>
      </ul>

<!-- end::allButValidation[] -->
      <div th:if="${#fields.hasErrors()}">
        <span class="validationError">
        Please correct the problems below and resubmit.
        </span>
      </div>

<!-- tag::allButValidation[] -->
      <h3>My Contact Information</h3>
      <label for="phoneNumber">Phone Number: </label>
      <input type="text" th:field="*{phoneNumber}"/>
      <br/>
      <label for="firstName">First Name: </label>
      <input type="text" th:field="*{firstName}"/>
<!-- end::allButValidation[] -->
      <span class="validationError"
            th:if="${#fields.hasErrors('firstName')}"
            th:errors="*{firstName}">Name Error</span>
<!-- tag::allButValidation[] -->
      <br/>
	
	 <label for="lastName">Last Name: </label>
      <input type="text" th:field="*{lastName}"/>
<!-- end::allButValidation[] -->
      <span class="validationError"
            th:if="${#fields.hasErrors('lastName')}"
            th:errors="*{lastName}">Name Error</span>
<!-- tag::allButValidation[] -->
      <br/>


      <h3>Here's how I'll pay...</h3>
<!-- tag::validatedField[] -->
      <label for="ccNumber">Credit Card #: </label>
      <input type="text" th:field="*{ccNumber}"/>
<!-- end::allButValidation[] -->
      <span class="validationError"
            th:if="${#fields.hasErrors('ccNumber')}"
            th:errors="*{ccNumber}">CC Num Error</span>
<!-- tag::allButValidation[] -->
<!-- end::validatedField[] -->
      <br/>

      <label for="ccExpiration">Expiration: </label>
      <input type="text" th:field="*{ccExpiration}"/>
<!-- end::allButValidation[] -->
      <span class="validationError"
            th:if="${#fields.hasErrors('ccExpiration')}"
            th:errors="*{ccExpiration}">CC Num Error</span>
<!-- tag::allButValidation[] -->
      <br/>

      <label for="ccCVV">CVV: </label>
      <input type="text" th:field="*{ccCVV}"/>
<!-- end::allButValidation[] -->
      <span class="validationError"
            th:if="${#fields.hasErrors('ccCVV')}"
            th:errors="*{ccCVV}">CC Num Error</span>
<!-- tag::allButValidation[] -->
      <br/>

      <input type="submit" value="Submit Order"/>
    </form>
  </body>
</html>
<!-- end::allButValidation[] -->
